name: CI

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  stack:
    name: stack / ghc ${{ matrix.ghc }} / ${{ matrix.platform }}
    runs-on: ${{ matrix.platform }}
    strategy:
      fail-fast: false
      matrix:
        stack: ["2.3.1"]
        ghc: ['8.6.5', '8.8.4', '8.10.2']
        platform: [ubuntu-latest, windows-latest]

    steps:
    - uses: actions/checkout@v3
      if: github.event.action == 'opened' || github.event.action == 'synchronize' || github.event.ref == 'refs/heads/master'

    - uses: haskell/actions/setup@v2
      name: Setup Haskell Stack
      with:
        ghc-version: ${{ matrix.ghc }}
        enable-stack: true
        stack-version: ${{ matrix.stack }}

    - uses: actions/cache@v3.0.2
      name: Cache ~/.stack
      with:
        path: ~/.stack
        key: ${{ runner.os }}-${{ matrix.ghc }}-stack

    - name: Build
      run: |
        stack build --system-ghc --test --bench --no-run-tests --no-run-benchmarks --stack-yaml stack-${{ matrix.ghc }}.yaml

    - name: Test
      run: |
        stack test --system-ghc --stack-yaml stack-${{ matrix.ghc }}.yaml
